<div class="container p-0">
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Movies</a>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#createmodal"><i class="fas fa-plus-square"></i> Pelicula Nueva</button>
  </nav>
  <div class="modal fade" id="createmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Crear una nueva Pelicula</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="content">

      </div>
    </div>
  </div>
</div>
