<nav id="sidebar" class="h-100 d-inline-block bg-dark">
    <div class="sidebar-header">
        <h3>Cinema</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#"><i class="far fa-calendar-times"></i>   Reservas</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-film"></i> Peliculas</a>
        </li>
    </ul>
</nav>
